.options {
    display: flex;
}

.buttonWrapper {
    margin-right: 5px;
}

.button {
    border: none;
    border: 1px solid rgb(208, 208, 208);
    background-color: #fff;
    text-transform: capitalize;
    border-radius: 3px;
}